<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="movie-sign">
        <i class="fas fa-film"></i>
      </div>
      <div>
        <%=link_to "My Lists", lists_path%>
        <%=link_to "New List", new_list_path%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
